*{
    font-family: "Poppins", sans-serif;
}
body{
    background-color:#050505;
    margin: 0; 
}
main{
    margin-left: 15%;
}
/* SIDEBAR */
.sidebar{
    background-color: #0B0B0B;
    width: 15%;
    border: 1px solid;
    border-color:rgba(255,255,255,0.08);
    border-radius: 1rem;
    overflow-y:scroll;
    overflow-x: hidden;
}
.sidebarLinks a:hover{
    background-color: #FF2D2D;
}
.sidebarLinea{
    border-bottom: 1px solid;
}
.sidebar__imgLogo{
    height: 6vh;
}
.sidebar__imgLogoFinal{
    height: 6vh;
}
.sidebarGarantia{
    background-color:#050505;
    border-radius: 1rem;
    border: 1px solid;
    border-color: #232323;
}
.sidebarLogin{
   background-color:#050505;
    border-radius: 1rem;
    border: 1px solid;
    border-color: #232323; 
}
/* HEADER */
.cardHeader{
    margin-left: 15%;
    background-size: cover;
    background-position: center;
    height: 55%;
    background-image: url(./Imagenes/1.png);
}
.cardHeader h1{
    color: #C1121F;
}
.card__headerSombra{
    background-color: rgba(0, 0, 0, 0.589);
    height: 100%;
}
.card__headerContenido{
    padding: 6rem;
}
.card__botonDestinos{
    border: 1px solid red;
    border-radius: 1rem;
    background-color: #E10600;
    padding: 1rem 3rem;
    color: #ffffff;
}
.card__botonServicios{
    border: 1px solid white;
    border-radius: 1rem;
    background-color: #05050500;
    padding: 1rem 3rem;
    color: #ffffff;
}
/* MAIN DESTINOS */
.cardDestinos{
    border-top: 1px solid rgba(255,255,255,0.08);
}
.card__mainDestinos{
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(255,255,255,0.08);
    border-radius: 1rem;
    width: 15%;
    overflow: hidden;
}
.card__mainDestinos img{
    height: 13vh;
    max-width: 100%;
    object-fit: cover;
}
.cardDestinos p{
    color: #A8A8A8;
}
.cardDestinos button{
    width: 100%;
    background-color:#E10600;
    border: 1px#8B0000;
    border-radius: 1rem;
    color: #ffffff;
}
.cardDestinos a{
    text-decoration: none;
    color:#C1121F;
}
.card__destinosTitulo::after{
    content: "";
    width: 120px;
    height: 2px;
    background-color: #C1121F;
    display: block;
}
/* MAIN EXPERIENCIAS */
.card__contenedorExperiencias{
    border: 1px solid rgba(255,255,255,0.08);
    border-radius: 1rem;
    width:80%;
    height: 100%;
}
.card__experiencias{
    margin-left:5%;
    margin-right:5%;
    width: 50%;
}
.card__imgExp{
    height: 300px;
    width: 50%;
}
.cardPlanificacion{
    border: 1px solid rgba(255,255,255,0.08);
    border-radius: 1rem;
    width: 50%;
}
.card__planificacionAbajo{
    border-top: 1px solid rgba(255,255,255,0.08);
    padding-top: 1rem;
}
.card__planificacionAbajo img{
    height: 2vh;
}
.card__planificacionImg{
    height: 235px;
    width: 50%;
}
.cardExperiencias button{
    border: 1px#8B0000 ;
    background-color: #E10600;
    padding: 1rem;
    border-radius: 1rem;
    color: #ffffff;
}
.cardExperiencias p{
    color: #A8A8A8;
}
.cardExperiencias h3{
    color: #C1121F;
}
/* SECTION PREGUNTA */
.cardPregunta{
    margin-left: 15%;
    border-top: 1px solid rgba(255,255,255,0.08);
}
.cardPregunta p{
    color:#A8A8A8;
}
.cardPregunta h4{
    color: #C1121F;
}
.card__preguntaImg2{
    height: 10vh;
}
.card__preguntaImg{
    height: 9vh;
}
.card__contenidoPregunta{
    border-right: 1px solid rgba(255,255,255,0.08);
}
.card__preguntaTitulo::after{
    content: "";
    width: 450px;
    height: 2px;
    background-color: #C1121F;
    display: block;
     clip-path: polygon(0 0, 100% 40%, 100% 60%, 0 100%);
}
.card__preguntaTitulo::before{
    content: "";
    width: 450px;
    height: 2px;
    background-color: #C1121F;
    display: block;
    clip-path: polygon(
        0 40%,
        100% 0,
        100% 100%,
        0% 60%
    );
}
/* SECTION INFORMACION */
.cardInformacion{
    margin-left: 15%;
    border-top: 1px solid rgba(255,255,255,0.08);
}
.cardInformacion img{
    height: 10vh;
}
.cardContacto img{
    height: 6vh;
}
.cardContacto{
    padding-right: 5rem;
}
.cardInformacion a{
    color: #A8A8A8;
}
.cardInformacion p{
    color: #C1121F;
}
.cardInformacion h5{
    color: #C1121F;
}
/* FOOTER */
.footer{
    margin-left: 15%;
    border-top: 1px solid rgba(255,255,255,0.08);
}
