@use "../utilidades/mixins";
@use "../utilidades/variables";
@use "../utilidades/extends";

.pagina-servicios{
 .card__mainDestinos {
   width: 17rem;
   height: 40vh;
 }
 .card__headerContenido {
        margin-right: 25%;
    }

 .card__destinosTitulo::before {
    content: "";
    width: 400px;
    height: 2px;
    background-color: variables.$colorRojo;
    display: block;
}
.card__destinosTitulo::after {
    content: "";
    width: 400px;
}
 .cardInformacion{
    margin-left: 0%;
}
.footer{
    margin-left: 0%;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
}
}