@use "../utilidades/variables";
@use "../utilidades/mixins";

.cardHeader {
    margin-left: 15%;
    background-size: cover;
    background-position: center;
    height: 55%;
    background-image: url(../Imagenes/1.png);
}

.cardHeader h1 {
    color: variables.$colorRojo;
}

.card__headerSombra {
    background-color: rgba(0, 0, 0, 0.589);
    height: 100%;
}

.card__headerContenido {
    padding: 6rem;
}

.card__botonDestinos {
  @include mixins.boton(#E10600, red, white);
}

.card__botonServicios {
  @include mixins.boton(transparent, white, white);
}